div.main-mnue{
  position: static;
  width: 100%;
  height: 70%;
}

.main-image{
    position: absolute;
    width: 100%;
    height: 70%;
    padding-top: 20px;
}

#headline2{
  position: absolute;
  margin-bottom: 10%;
  left: 27%;
  top: 90%;
}

#headline3{
  position: absolute;
  margin-bottom: 10%;
  left: 35%;
  top: 150%;
}

#pline
{
  position: absolute;
  margin-bottom: 10%;
  left: 42%;
  top: 157%;
}

#card1{
  position: absolute;
  left: 5%;
  top: 170%;
  width:232px;
  height:323px;
}

#con_lon{
  width:232px;
  height:100px;
}

#london_imge
{
  width: 232px;
  height: 230px;
}

#sub_title1
{
  position: absolute;
  left:50%;
}

#sub_title2
{
  position: absolute;
  left:50%;
  font-size: 10px;
}

#sub_title3
{
  position: absolute;
  left:74%;
  top: 85%;
  font-size: 15px;
}

.Bline{
  color: darkgreen;
}

#banner1{
  position: absolute;
  margin-bottom: 10%;
  left: 5%;
  top: 105%;
  width:405px;
  height:244px;
}

#banner2{
  position: absolute;
  margin-bottom: 10%;
  left: 36%;
  top: 105%;
  width:405px;
  height:244px;
}

#banner3{
  position: absolute;
  margin-bottom: 10%;
  left: 67%;
  top: 105%;
  width:405px;
  height:244px;
}

.headLine{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    top: 25%;
    left: 50%;
}

#sel1{
  position: absolute;
  top: 40%;
  left: 50%;
  width: 300px;
}

#sel2{
  position: absolute;
  top: 40%;
  left: 25%;
  width: 300px;
}

#sel3{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
}

#sel4{
  position: absolute;
  top: 50%;
  left: 25%;
  width: 300px;
}

#search{
  position: absolute;
  top: 65%;
  left: 15%;
  width: 200px;
}

#info{
  position: absolute;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  right: 25%;
  top: 80%;
}
