div.main-mnue{
    position: static;
    width: 100%;
    height: 70%;
  }
  
  .main-image{
      position: absolute;
      width: 100%;
      height: 70%;
      padding-top: 20px;
  }
  
  .headLine{
      position: absolute;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: white;
      top: 25%;
      left: 50%;
  }
  
  #sel1{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 300px;
  }
  
  #sel2{
    position: absolute;
    top: 40%;
    left: 25%;
    width: 300px;
  }
  
  #sel3{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
  }
  
  #sel4{
    position: absolute;
    top: 50%;
    left: 25%;
    width: 300px;
  }
  
  #search{
    position: absolute;
    top: 65%;
    left: 15%;
    width: 200px;
  }
  
  #info{
    position: absolute;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    right: 25%;
    top: 80%;
  }
  